.article {
  padding: 3rem 0;
  width: 85vw;
  margin: 0 auto;

  @include mobile {
    width: 100%;
    padding: 1rem 1rem;
  }

  &-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
    margin: 2rem 0;

    @include mobile {
      height: 20vh;
    }
    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &-subtitle {
    color: $secondary;
  }

  &-content {
    padding: 1.5rem;
    border-radius: 5px;
    box-shadow: 3px 3px 10px 0 lightgray;
  }
}
