.menu {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid lightgray;
  padding: 10px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mobile {
    display: none;
  }

  &-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background-color: $color-blue-dark;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
  }

  &-tools {
    display: flex;
    align-items: center;
  }

  &-login-btn {
    height: 30px;
  }
}
