.hashtag {
    display: inline-block;
    margin: 0.3rem 0.3rem;
    padding: 0.3rem 0.5rem;
    border-left: 3px solid $color-red;
    box-shadow: 1px 1px 3px 0 $color-gray;
    background-color: $color-red-light;

    &:hover{
      cursor: pointer;
    }

    &:active{
      box-shadow: 1px 1px 3px 0 $color-gray-dark;
    }
  }